<div class="login-container">
    <div class="login-header">
      <img src="/assets/ialogo_awal.png" alt="Logo"> 
      <h2>Welcome</h2>
      <p>Log in or sign up to continue</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" formControlName="email" 
               [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
        </div>
      </div>
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary">Continue</button>
      <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div>
    </form>
    <div class="separator">
      <span>OR</span>
    </div>
    <div class="social-login">
      <button class="btn btn-google"><i class="fab fa-google"></i> Continue with Google</button>
      <button class="btn btn-twitter"><i class="fab fa-twitter"></i> Continue with Twitter</button>
      <button class="btn btn-github"><i class="fab fa-github"></i> Continue with GitHub</button>
    </div>
    <div class="signup-link">
      Don't have an account? <a href="#">Sign up</a>
    </div>
  </div>