<div class="divide-y divide-blue-200 ">
  <div>
    <p class="text-5xl text-blue-600 font-weight: 800 font-sans hover:font-serif ">Registration</p>
  </div>
  <form [formGroup]="RegisForm">
    <div >
      <mat-tab-group>
<!--  TAB GENERAL-->  
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_circle</mat-icon>
              General
            </ng-template>

            <div class="icon-container">
              <div class="icon-list">
                <div class="icon" *ngFor="let icon of icons">
                  <mat-icon>{{ icon }}</mat-icon> 
                </div>
              </div>
            </div>
            
            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-4">
                <label for="companyname" class="block text-sm/6 font-medium text-gray-900">Company Name</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <input type="text" formControlName="ccregName" name="ccregName" id="ccregName" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>

              <div class="sm:col-span-4">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">Alias Name / Known name</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <input type="text" formControlName="ccregNickName" name="ccregNickName" id="ccregNickName" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>
            </div>

            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-4">
                <label for="nik" class="block text-sm/6 font-medium text-gray-900">National ID</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <input type="text" formControlName="ccregNationId" name="ccregNationId" id="ccregNationId" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>              
            </div>
           
            <div class="row">
              <div class="col-8">
                <label class="btn btn-default p-0">
                <input type="file" accept="image/*" (change)="selectImageNik($event)"  />
                <img [src]="preview" alt="Image Preview" height="90px" width="130px" >
                </label>
              </div>
            </div>
          
           

            <div>
              <p class="text-2xl text-blue-600 font-weight: 800 font-sans hover:font-serif text-center">Member B2B</p>
            </div>

            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-4">
                <label for="nik" class="block text-sm/6 font-medium text-gray-900">Single business No</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <input type="text" formControlName="ccregNibId" name="ccregNibId" id="ccregNibId" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>              
            </div>

            <div class="row">
              <div class="col-8">
                <label class="btn btn-default p-0">
                <input type="file" accept="image/*" (change)="selectImageNib($event)"  />
                <img [src]="preview2" alt="Image Preview2" height="90px" width="130px" >
                </label>
              </div>
            </div>

           

           
            
          </mat-tab>

<!--  TAB ADDRESS-->          
        
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">home</mat-icon>
              Address
            </ng-template>
           
            <div class="col-span-full">
              <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Street address</label>
              <div class="mt-2">
                <input type="text" formControlName="ccregAddress" name="ccregAddress" id="ccregAddress" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
              </div>
            </div>

            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-4">
                <label for="companyname" class="block text-sm/6 font-medium text-gray-900">RT</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
 
                    <input type="text" formControlName="ccregRt" name="ccregRt" id="ccregRt" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>

              <div class="sm:col-span-4">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">RW</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <input type="text" formControlName="ccregRw" name="ccregRw" id="ccregRw" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>
            </div>

            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-4">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">Province</label>
                <mat-form-field>
                  <mat-label>Province</mat-label>
                  <mat-select formControlName="ccregProvId" name="pro" (selectionChange)="changeprov($event.value)">
                    <mat-option *ngFor="let pro of provlist" [value]="pro.cmpsiProvCode">{{ pro.cmpsiProvinsi }}</mat-option>
                </mat-select>
                </mat-form-field>
              </div>

              <div class="sm:col-span-4">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">City</label>
                <mat-form-field>
                  <mat-label>City</mat-label>
                    <mat-select formControlName="ccregCityId" name="cit" (selectionChange)="changecity($event.value)">
                      <mat-option *ngFor="let cit of citylist" [value]="cit.cmcitCityCode">{{ cit.cmcitCity }}</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-5">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">District</label>
                <mat-form-field>
                  <mat-label>District</mat-label>
                  <mat-select formControlName="ccregKecId" name="kc" (selectionChange)="changekecamatan($event.value)">
                    <mat-option *ngFor="let kc of keclist" [value]="kc.cmkecCityCode">{{ kc.cmkecKecamatan }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="sm:col-span-5">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">Village</label>
                <mat-form-field>
                  <mat-label>Village</mat-label>
                  <mat-select formControlName="ccregKelId" name="kl" (selectionChange)="changekelurahan($event.value)">
                    <mat-option *ngFor="let kl of kellist" [value]="kl.cmkelKelCode">{{ kl.cmkelKelurahan }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-4">
                <label for="companyname" class="block text-sm/6 font-medium text-gray-900">Area Name</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
 
                    <input type="text" formControlName="ccregArea" name="ccregArea" id="ccregArea" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>

              <div class="sm:col-span-4">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">ZIP Code</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <input type="text" formControlName="ccregZip" name="ccregZip" id="ccregZip" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>
            </div>

            <div class="grid grid-flow-col gap-4 auto-cols-max hover:auto-cols-min">
              <div class="sm:col-span-4">
                <label for="companyname" class="block text-sm/6 font-medium text-gray-900">Phone No</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
 
                    <input type="text" formControlName="ccregPhone" name="ccregPhone" id="ccregPhone" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>

              <div class="sm:col-span-4">
                <label for="aliasname" class="block text-sm/6 font-medium text-gray-900">latitude and longitude</label>
                <div class="mt-2">
                  <div class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                    <input type="text" formControlName="ccregLongLat" name="ccregLongLat" id="ccregLongLat" class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>

<!--  TAB BANK-->  
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_balance</mat-icon>
              Bank
            </ng-template>
        
            <div class="border-b border-gray-900/10 pb-12">
              <h2 class="text-base/7 font-semibold text-gray-900 text-2xl" >Recieve Bank</h2>
              <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>

              <div class="col-span-full">
                <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Bank Name</label>
                <div class="mt-2">
                  <input type="text" formControlName="ccregRevcCmbaId" name="ccregRevcCmbaId" id="ccregRevcCmbaId" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
              </div>

              <div class="col-span-full">
                <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Account Name</label>
                <div class="mt-2">
                  <input type="text" formControlName="ccregRecvCmbaName" name="ccregRecvCmbaName" id="ccregRecvCmbaName" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
              </div>

              <div class="col-span-full">
                <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Account No</label>
                <div class="mt-2">
                  <input type="text" formControlName="ccregRevcCmbaAccount" name="ccregRevcCmbaAccount" id="ccregRevcCmbaAccount" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
              </div>

              <section class="example-section ">
                <mat-checkbox [checked]="bankrcv" (change)="showSentBank()" class="example-margin" >The sending bank is the same as the receiving bank</mat-checkbox>
              </section>
            </div>

            <div *ngIf="bankrcv === false">
              <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base/7 font-semibold text-gray-900 text-2xl">Sent Bank</h2>
                <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>
  
                <div class="col-span-full">
                  <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Bank Name</label>
                  <div class="mt-2">
                    <input type="text" formControlName="ccregSentCmbaId" name="ccregSentCmbaId" id="ccregSentCmbaId" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                  </div>
                </div>
  
                <div class="col-span-full">
                  <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Account Name</label>
                  <div class="mt-2">
                    <input type="text" formControlName="ccregSentCmbaName" name="ccregSentCmbaName" id="ccregSentCmbaName" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                  </div>
                </div>
  
                <div class="col-span-full">
                  <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Account No</label>
                  <div class="mt-2">
                    <input type="text" formControlName="ccregSentCmbaAccount" name="ccregSentCmbaAccount" id="ccregSentCmbaAccount" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                  </div>
                </div>
  
              </div>
            </div>
            
          </mat-tab>
  
<!--  TAB APPROVAL-->  
          <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">how_to_reg</mat-icon>
                Aprroval
              </ng-template>
              <h2 class="text-base/7 font-semibold text-gray-900 text-2xl">Maximum Approval</h2>
              <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>
              <mat-form-field  formControlName="ccregMinApproval">
                <mat-select  [(value)]="maxapp">
                  <mat-option value=1>1 PIC</mat-option>
                  <mat-option value=2>2 PIC</mat-option>
                  <mat-option value=3>3 PIC</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="maxapp >=1 && maxapp <=3">
                <div class="border-b border-gray-900/10 pb-12">
                  <h2 class="text-base/7 font-semibold text-gray-900 text-2xl" >Person In charge - I </h2>
                  <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">PIC Name</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic1Name" name="ccregPic1Name" id="ccregPic1Name" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Mobile Phone</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic1Phone" name="ccregPic1Phone" id="ccregPic1Phone" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Email</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic1Email" name="ccregPic1Email" id="ccregPic1Email" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
  
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Password</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic1password" name="ccregPic1password" id="ccregPic1password" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
                </div>
              </div>
             

              <div *ngIf="maxapp>1 && maxapp<3 ||  maxapp==3">
                <div class="border-b border-gray-900/10 pb-12">
                  <h2 class="text-base/7 font-semibold text-gray-900 text-2xl" >Person In charge - II </h2>
                  <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">PIC Name</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic2Name" name="ccregPic2Name" id="ccregPic2Name" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Mobile Phone</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic2Phone" name="ccregPic2Phone" id="ccregPic2Phone" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Email</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic2Email" name="ccregPic2Email" id="ccregPic2Email" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
  
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Password</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic2password" name="ccregPic2password" id="ccregPic2password" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf=" maxapp>1 && maxapp==3 ">
                <div class="border-b border-gray-900/10 pb-12">
                  <h2 class="text-base/7 font-semibold text-gray-900 text-2xl" >Person In charge - III </h2>
                  <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">PIC Name</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic3Name" name="ccregPic3Name" id="ccregPic3Name" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Mobile Phone</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic3Phone" name="ccregPic3Phone" id="ccregPic3Phone" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
    
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Email</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic3Email" name="ccregPic3Email" id="ccregPic3Email" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
  
                  <div class="col-span-full">
                    <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Password</label>
                    <div class="mt-2">
                      <input type="text" formControlName="ccregPic3password" name="ccregPic3password" id="ccregPic3password" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                  </div>
                </div>
              </div>

            </mat-tab>

<!--  TAB LOGIN-->  
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">tv_singin</mat-icon>
                Login
              </ng-template>
          
              <div class="col-span-full">
                <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Mobile Phone</label>
                <div class="mt-2">
                  <input type="text" formControlName="ccregMobilePhone" name="ccregMobilePhone" id="ccregMobilePhone" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
              </div>

              <div class="col-span-full">
                <label for="street-address" class="block text-sm/6 font-medium text-gray-900">Email</label>
                <div class="mt-2">
                  <input type="text" formControlName="ccregEmail" name="ccregEmail" id="ccregEmail" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
              </div>

              <div class="shadow-md ...">
                <div class="col-span-full">
                  <label for="street-address" class="block text-sm/6 font-medium text-gray-900">OTP</label>
                  <div class="mt-2">
                    <input type="text" formControlName="ccregMobilePhone" name="ccregMobilePhone" id="ccregMobilePhone" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                  </div>
                </div>
                <button mat-flat-button color="accent" (click)="sendEmail()">Sent OTP</button>
              </div>
              <button mat-flat-button color="accent" (click)="saveRegis()">Submit</button>
            </mat-tab>

        </mat-tab-group>
    </div>
   
  </form>
 
</div>
