.icon-container {
    width: 100px; /* Atau lebar tetap lainnya */
    overflow-x: auto; 
  }
  
  .icon-list {
    display: flex; 
    white-space: nowrap; /* Mencegah ikon berpindah baris */
  }
  
  .icon {
    margin-right: 10px; /* Atur jarak antar ikon */
  }