<div class="grid grid-rows-3 grid-flow-col gap-4">
  <div class="row-span-3" >1</div>
  <div class="col-span-2"><app-form-login></app-form-login></div>
  <div class="row-span-2 col-span-2"><app-form-registrasi></app-form-registrasi></div>
</div>



<app-form-registrasi></app-form-registrasi>
<!--
<app-form-login></app-form-login>

<app-header-comp/>
<h1 class="text-3xl font-bold underline text-green-500">
    Hello world!
  </h1>
<div *ngIf="logon===true">
 <app-form-login></app-form-login>
</div>

<div *ngIf="logon === false">
 <app-form-logout></app-form-logout>
</div>

<app-form-user-login></app-form-user-login>
 -->
 
  
 
  
